---
layout: default
---
<article class="post">

  {%- if page.display_title != false -%}
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  {%- endif -%}

  <div class="post-content">
    {{ content }}
  </div>

</article>

<div class="bottom-nav">
  <!-- Calculate the previous and next pages in navigation -->
  {%- assign sorted_orders = site.pages | sort: 'order' | map: "order" -%}
  {%- assign prev_order = sorted_orders | reverse | find_exp: "order", "order < page.order" -%}
  {%- assign next_order = sorted_orders | find_exp: "order", "order > page.order" -%}
  {%- assign prev_page = site.pages | where: "order", prev_order | first -%}
  {%- assign next_page = site.pages | where: "order", next_order | first -%}
  <div class="bottom-nav-prev">Prev: <a class="page-link" href="{{ prev_page.url | relative_url }}">{{ prev_page.title | escape }}</a></div>
  <div class="bottom-nav-next">Next: <a class="page-link" href="{{ next_page.url | relative_url }}">{{ next_page.title | escape }}</a></div>
</div>